:root {
    --theme: #280; /* CSS variable */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    font-family: "Arial";
    color: var(--theme);
}

#map {
    width: 100%;
}

#marker {
    width: 3vw; /* 3% of the viewport width */
    height: 3vw;
    background-color: black;
    border-radius: 50%;
    outline: 5px solid var(--theme); /* does not affect the size */
    border: 5px solid white; /* affects the size */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

#mapContainer {
    position: relative;
}

#camera {
    width: 100%;
}
:root {
  --main-color: #824caf; /* your class variable */
}

button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #a07845; /* slightly darker */
  transform: scale(1.05);
  cursor: pointer;
}
.bubble:hover{
    transform: scale(1);
}

.item-label {
  position: absolute;
  transform: translate(-50%, -100%);
  background: white;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  text-align: center;
  transition: all 0.2s ease;
  z-index: 1000;
}

.item-label:hover {
  transform: translate(-50%, -110%) scale(1.05);
  cursor: pointer;
}

.in {
  color: #4CAF50;
  font-weight: bold;
}

.out {
  color: #e74c3c;
  font-weight: bold;
}




